<form action="/login" method="POST" class="container">
   <label> Username
      <input type="text" name="username" required>
   </label>
   <label> Password
      <input type="password" name="password" required>
   </label>
   <label> Don't you have an account ?
      <a href="/register">Join us!</a>
   </label>

   <button type="submit" class="redirect-btn">Take me in!</button>
</form>