<form action="/register" method="POST" class="log">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Email
      <input type="email" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
   <label> Do you already have an account ?
      <a href="/login">Login</a>
   </label>
   <button type="submit" class="redirect-btn">Submit</button>
</form>
   {{errorMessage}}
