<form action="/register" method="POST" class="container">
   <label> Username
      <input type="text" class="text-input" name="username" required>
   </label>
   <label> Email
      <input type="email" class="text-input" name="email" required> 
   </label>
   <label> Password
      <input type="password" class="text-input" name="password" required>
   </label>
   <label> Do you already have an account ?
      <a href="/login">Login</a>
   </label>
   <button type="submit" class="redirect-btn">Submit</button>
</form>
   {{errorMessage}}
