<div class="view-title">
  <h1>Welcome to Meet-meUp</h1>
  <h4><em>Little activities to change the world</em></h4>
</div>


<div class="initial-banner">
  <div class="phrase">
    <h2>Take the risk!</h2>
    <h4>Challenge yourself to leave a mark</h4>
     <h4>invite your friends and do it together!</h4>
  </div>

  <div class="index-welcome">
    <img src="/images/index-welcome.png">
  </div>
</div>

<div class="index-image-display">
  <div class="image-display">
    <img src="images/charity.jpeg">
    <h4>Organise</h4>
  </div>

  <div class="image-display">
    <img src="images/nature.jpeg">
    <h4>Join</h4>
  </div>

  <div class="image-display">
   <img src="images/meeting.jpeg">
   <h4>Rate</h4>
  </div>
</div>

<div class="follow-us">
  <div><h2>Follow us</h2></div>
  <div class="follow-us-social">
    <img src="/images/github.png">
    <a href="https://github.com/Coding-Newbies21">GitHub</a>
  </div>

  <div class="follow-us-social">
    <img src="/images/linkedin.png">
    <a href="https://github.com/Coding-Newbies21">LinkedIn</a>
  </div>

  <div class="follow-us-social">
    <img src="/images/twitter.png">
    <a href="https://github.com/Coding-Newbies21">Twitter</a>
  </div>
</div>
