<div>
  <h1>Welcome to Meet-meUp</h1>
  <p>Here you can find different ideas and people who are trying to change the world, buy promoting and participanting in events</p>
</div>


<div class="image-display">
  <div class="image-display">
    <img src="images/charity.jpeg">
  </div>

  <div class="image-display">
    <img src="images/nature.jpeg">
  </div>

  <div class="image-display">
   <img src="images/meeting.jpeg">
  </div>
</div>
