
<h1>Welcome</h1>
<p>Keep updated with events..</p>

<div class="image-display">
  <div class="image-display"> 
    <img src="images/charity.jpeg">
  </div>

  <div class="image-display">
    <img src="images/nature.jpeg">
  </div>

  <div class="image-display">
   <img src="images/meeting.jpeg"> 
  </div>
</div>
