<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Meetmeup</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <nav>

      <img class="logo" src="/images/meet.png">


      <ul class="">
         <li><a href="/">Home</a></li>
         <li><a href="/events">Events </a></li>
         <li><a href="/user-profile">Profile </a></li>
         <li><a href="/register">Register</a></li>
         <li><a href="/login">Login</a></li>
         <li><a href="/logout">Logout</a></li>
      </ul>
   </nav>
   {{{body}}}

   <script src="/js/script.js"></script>
</body>

</html>