<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Meetmeup</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <nav>
      <ul class="left-list">
         <li><a href="/">HomePage</a></li>
         <li><a href="/events">Events </a></li>
         <li><a href="/user-profile">User Profile </a></li>
      </ul>

      <ul class="right-list"> 
         <a href="/register">Register</a>
         <a href="/login">Login</a>
         <a href="/logout">Logout</a>
      </ul>
   </nav>
   {{{body}}}

   <script src="/js/script.js"></script>
</body>

</html>