*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f2e4e0;
}

nav {
  background:rgb(255,95,86,0.5);
  height: 80px;
  width: 100%;
}
.logo {
position:absolute;
top:10px;
left:10px;
 width:60px;
 height:60px;
}
nav ul {
  float: right;
  
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a {
  color:white;
  font-size: 17px;
  border-radius: 5px;
  
  padding: 20px;
  font-weight:bold ;
}
a.active,a:hover {
  background-color: 	#e6d0c9 ;
  transition: 0.5s;
  color:rgb(119, 110, 110);
  font-size: 18px;
}
.event-img {
  width:250px;
  height:250px;
  border-radius:5px;
  margin-left:100px;
}