*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f2e4e0;
}
.log{
  display: flex;
  flex-direction: column;
  margin: 200px 500px;
  line-height: 50px;
  padding: 30px;
  border: 2px solid black;
  background-color: #F6F4F4;
}

.logo {
  position:absolute;
  top:5px;
  left:20px;
  width:75px;
  height:65px;
}

/* nav {
  background:#7c9c55;
  height: 80px;
  width: 100%;
  margin-bottom: 70px;
} */
nav {
  background:hsl(29, 97%, 48%);
  height: 80px;
  width: 100%;
}

nav ul {
  list-style: none;
  float: right;
  display: flex;
  
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a {
  color:white;
  font-size: 16px;
  border-radius: 5px;
  padding: 20px;
  font-weight:bold ;
}
.nav-bar a.active,.nav-bar a:hover {
  background-color: 	#e7b3a3 ;
  transition: 0.5s;
  color:rgb(119, 110, 110);
  font-size: 15px;
}

 /* a.active, a:hover {
  background-color: 	#e6d0c9 ;
  transition: 0.5s;
  color:rgb(119, 110, 110);
  font-size: 18px;
  text-decoration: none;
} */

.image-display{
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin: 90px auto;
}


.center {
  position: relative;
  top: 20px;
  left: 40%;
}
.centerTitle{
  position: relative;
  color: #df610d;
  top: 20px;
  left: 40%;
}

.text-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(219, 169, 169);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
   }
   
.text-file{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(219, 169, 169);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  
  }
  .text-area{
  
    margin-top:10px;
    margin-bottom: 10px;
  
  }
  .create-btn, .cancel-btn {
    width: 30%;
    background-color:#ee6035;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px; 
    margin-left: 10%;
    margin-top: 10px;
    font-size: 16px;
  }
  .cancel-btn a {
    color: white;
    font-size: 16px;
  }
  .container{
    border-radius: 5px;
    background-color: #f3d3cb;
    padding: 20px;
    width: 30%;
    margin: auto;
    position: absolute;
    left: 35%;
    top: 20%;
  }
  .redirect-btn{
    width: 100px;
    background-color:rgb(255,95,86,0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  .list-elm {
    float:left;
    display: inline;
    align-items: center;
    position: relative;
    top:60px;
    left: 40px;
    border-radius: 50px;
    margin-bottom:90px;
  }
  .event-img {
    width: 300px;
    height:200px;
    border-radius:20px;
    margin-left:100px;  
    
  } 
  
  .event-one-img {
    width: 400px;
    height:400px;
    border-radius:20px;
    display: inline-block;
  } 
  .test{
    position: absolute;
    left: 150px;
  }
  .img-container {
    margin-left: 30%;
    margin-top: 5%;    
  }
  .info{
    position: absolute;
    left: 55%;
    top: 250px;
  }
