<div class="container">
  <h2>Welcome {{userInSession.username}}!</h2>
  <hr>

  <div class="userprofile">
    <div><img src="/images/userlogo.png"/></div>
    <div>
      <h4>What do you want to do?</h4>
      <div>
        <div><a href="/events/create" class="create-btn"> Create Events</a></div>
        <div><a href="/events/user-events" class="see-btn">See My Events</a></div>
      </div>
    </div>
  </div>
</div>
