<h1>My Profile</h1>
<h3>Welcome {{userInSession.username}}</h3>

<div><a href="/events/create"> Create</a></div>
<div><a href="/events/user-events">My Events</div>
<div><a href="/events">Check other Events</a></div>